@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*---------------------------------Nav Bar*/

.navbar-brand {
    padding: 0;
}

.navbar-font {
    font-family: 'Nunito', sans-serif;
}

/*---------------------------------index.html*/

.callout-container {
    height: 100vh;
    background: url(/assets/images/cardiff-forest.jpg) no-repeat center center fixed;
    background-color: darkolivegreen;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container h1 {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px 1px #000000;
}

.callout-container p {
    text-align: center;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
}

.callout-container h1 i {
    color: #fff;
}

/*---------------------------------Page headers*/

.jumbotron-text {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000000;
}

.jumbotron-header {
    background-image: url(/assets/images/forest-hd.jpg);
    background-color: darkolivegreen;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*---------------------------------Home content*/

#tagline {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    text-align: center;
    padding: 0.5em;
}

#reasons {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: darkolivegreen;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    padding: 20px;
}

.reasons-heading {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 1.5em;
}

.text-padding {
    padding: 20px 50px 20px 50px;
}

section p {
    text-align: center;
}

/*---------------------------------Footer*/

footer {
    background-color: darkolivegreen;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    color: #fff;
    padding: 15px;
}

footer i {
    font-family: 'Nunito', sans-serif;
    font-size: 0.7em;
    font-weight: 100;
    text-align: center;
    padding-left: 10px;
}

.socials {
    padding-left: 150px;
}

footer span {
    padding: 10px;
}

footer span a {
    color: #fff;
    
}
a:hover {color: #e6e6e6;}