/*---------------------------------Nav Bar*/

.navbar-brand {
    padding: 0;
}

/*---------------------------------Jumbotron*/

.jumbotron-text {
    text-align: center;
    color: #fff;
}

.jumbotron-header {
    background-image: url(/assets/images/forest.jpeg);
}

